# -----------------------------------------------
# ----  IDEs  -----------------------------------
# -----------------------------------------------

.idea/
.vscode/

# -----------------------------------------------
# ----  Documentation  --------------------------
# -----------------------------------------------

documentation/site

# -----------------------------------------------
# ----  Kernel ----------------------------------
# -----------------------------------------------

kernel/target/
kernel/build/
!kernel/build/license_template.txt

kernel/**/Cargo.lock
kernel/**/*.rs.bk
