# -----------------------------------------------
# ----  IDEs  -----------------------------------
# -----------------------------------------------

.idea/
.vscode/

# -----------------------------------------------
# ----  Documentation  --------------------------
# -----------------------------------------------

documentation/site

# -----------------------------------------------
# ----  Kernel ----------------------------------
# -----------------------------------------------

kernel/target/
kernel/build/qemu/*
!kernel/build/qemu/grub.cfg

kernel/**/Cargo.lock
kernel/**/*.rs.bk
