# -----------------------------------------------
# ----  GitAttributes  --------------------------
# ----  https://git-scm.com/docs/gitattributes  -
# -----------------------------------------------

# For templates, see
# https://github.com/alexkaratarakis/gitattributes

# -----------------------------------------------
# ----  General  --------------------------------
# -----------------------------------------------

*        text=auto

*.png   -text
*.ico   -text

# -----------------------------------------------
# ----  Rust  -----------------------------------
# -----------------------------------------------

*.rs     text    diff=rust
*.toml   text    diff=toml
*.asm    text    diff=asm
*.S      text    diff=asm

# -----------------------------------------------
# ----  Documents  ------------------------------
# -----------------------------------------------

*.md     text    diff=markdown
*.tex    text    diff=tex
*.txt    text
