[data-md-color-scheme="light"] {
  --md-default-bg-color:               #EBEBEB;
  --md-default-bg-color--light:        #EBEBEB;
  --md-default-bg-color--lighter:      #EBEBEB;
  --md-default-bg-color--lightest:     #EBEBEB;

  --md-code-fg-color:                  #1D1A23;
  --md-code-bg-color:                  #EBEBEB;
  --md-code-hl-comment-color:          #1D1A2355;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color:               #1D1A23;
  --md-default-bg-color--light:        #1D1A23;
  --md-default-bg-color--lighter:      #1D1A23;
  --md-default-bg-color--lightest:     #1D1A23;

  --md-code-fg-color:                  #EBEBEB;
  --md-code-bg-color:                  #1D1A23;
  --md-code-hl-comment-color:          #B3CBB966;
}
